<div class="user-details-wrapper" [ngClass]="{'spinner--hide' : !hideSpinner}">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{userDetails.last_name}} {{userDetails.first_name}}</mat-card-title>
      <mat-card-subtitle>{{userDetails.email}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{userDetails.avatar}} alt="User photo">
    <mat-card-actions class="user-details__butttons">
      <button mat-raised-button (click)="showEditForm()">Edit
        {{userDetails.last_name}}</button>
      <button mat-raised-button (click)="deleteUser()">Delete
        {{userDetails.last_name}}</button>
    </mat-card-actions>
  </mat-card>
</div>
<app-spinner class="spinner" [ngClass]="{'spinner--hide' : hideSpinner}">
</app-spinner>