.user-details-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.user-details{
  width: max-content;
}

.user-details__butttons{
  display: flex;
  justify-content: space-around;
  padding-top: 0;
}

.user-details__visibleEditForm {
  border: 3px solid red;
  visibility: hidden;
}
