.home__header{
  padding: 10px 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #424242;
  color: #C7C7C7;
}

.home__title{
  margin: 0;
  vertical-align: center;
}

.home__main{
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.home__card{
  margin: 0 5px 15px;
  width: 200px;
  text-align: center;
  transition: .2s ease-in;
  border: 1px solid grey;
  cursor: pointer;
}

.home__card:hover{
  box-shadow: 0 0 2px 2px grey;
}

.home__card h2,
.home__card p{
  margin-bottom: 0;
}