<div class="home">
  <div class="home__header">
    <h1 class="home__title">Users</h1>
    <button mat-raised-button class="home__button" (click)="showForm()">Add user</button>
  </div>
  <ul class="home__main" [ngClass]="{'spinner--hide' : !hideSpinner}">
    <li *ngFor="let user of users" class="home__card" (click)="showUser(user.id)">
      <img src={{user.avatar}} alt="avatar">
      <h2>{{user.first_name}} {{user.last_name}}</h2>
      <p>{{user.email}}</p>
    </li>
  </ul>
</div>
<mat-paginator *ngIf="length > pageSize" [ngClass]="{'spinner--hide' : !hideSpinner}" [length]="length"
  [pageSize]="pageSize" (page)="onPageChanged($event)">
</mat-paginator>

<app-spinner class="spinner" [ngClass]="{'spinner--hide' : hideSpinner}">
</app-spinner>