/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body {
     margin: 0; 
     font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     padding: 10px;
     width: 40%;
     max-width: 300px;
     display: flex;
     flex-direction: column;
     border: 1px solid grey;
   }
   
   .form__item,
   .form__button{
     background-color: grey;
   }
   
   .form__item:not(:last-child){
     margin-bottom: 10px;
   }
   
   .form__button{
     padding: 10px;
     color: #fff;
   }
